{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!
{% endblock %}

{% block body %}
	<div class="container w-full max-w-xs">
		{% for categorie in categories %}
			<h1 class="p-6 text-xl font-bold">Liste des catégories</h1>
			<ul class="p-2 ml-6 shadow-md">
				<a href="{{ path('showCategorie', {id: categorie.id}) }}">
					<li class="p-2 bg-gray-200">{{ categorie.nom }}</li>
				</a>
			</ul>
		{% else %}
			<h1 class="p-6 text-xl font-bold">Aucune catégorie</h1>
		{% endfor %}
		<hr>
		<h2 class="p-6 text-xl font-bold">Ajouter une categorie</h2>
		{{ form_start(ajoutCategorie) }}

		{{ form_end(ajoutCategorie) }}
	</div>

{% endblock %}
